#main-nav.navbar.navbar-expand-lg {
  .level_0 {
    @extend .navbar-nav, .mr-auto;

    & > .parent {
      @extend .dropdown;

      & > .navbar-link {
        @extend .nav-link, .dropdown-toggle;
        cursor: pointer;
        color: white;
      }

      & > .level_1 {
        @extend .dropdown-menu;

        .item {
          .navbar-link {
            @extend .dropdown-item;
            min-width: 40vh;
            white-space: normal !important;
            display: list-item !important;
            list-style-position: inside;
            list-style-type: disc;

            &.active {
              @extend .bg-primary;
            }
          }
        }
      }
    }
  }
}
