@use "sass:color";
@import "./theming/mono-theme.scss";

$mytheme-colors: (
  "white": (
    light: white,
    dark: black,
  ),
  "black": (
    light: black,
    dark: white,
  ),
  "columbiaBlue": (
    light: #9dd1ff,
    dark: #063462,
  ),
  "beige": (
    light: #f7f3d6,
    dark: #4d4b43,
  ),
);

@each $color-name, $color in $mytheme-colors {
  body[data-theme="#{$color-name}"].pureVis {
    @include theme-mono(map-get($color, "dark"), map-get($color, "light"));
  }

  .btn-#{$color-name} {
    color: map-get($color, "dark") !important;
    background-color: map-get($color, "light") !important;
  }
}

#pureVis-settings {
  display: none !important;
}

body:not(.pureVis) #pureVis-off,
body:not(.pureVis) #pureVis-settingsBtn {
  display: none !important;
}
body:not(.pureVis) #pureVis-on {
  display: block !important;
}

body.pureVis #pureVis-settings.show,
body.pureVis #pureVis-settingsBtn,
body.pureVis #pureVis-off {
  display: block !important;
}
body.pureVis #pureVis-on {
  display: none !important;
}
